<p id="notice"><%= notice %></p>

<h1>Revoews</h1>

<table>
  <thead>
    <tr>
      <th>Rating</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @revoews.each do |revoew| %>
      <tr>
        <td><%= revoew.rating %></td>
        <td><%= revoew.comment %></td>
        <td><%= link_to 'Show', revoew %></td>
        <td><%= link_to 'Edit', edit_revoew_path(revoew) %></td>
        <td><%= link_to 'Destroy', revoew, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Revoew', new_revoew_path %>
